$action-height: 48px;
$gray: #C5C5C5;

body {
    overflow-y: hidden;
}

#editor-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#preview {
    outline: 1px solid $gray;
    background: white;

    .editor-main-inner {
        padding: 1px 10px $action-height 10px;
    }
}

#editor-form {
    display: none;
}

#editor-actions {
    height: $action-height;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 8px 12px;
    background: #F8F8F8;
}

#main {
    overflow-x: hidden;
}

.editor-main {
    width: 50%;
    height: 100%;
    float: left;
    overflow-y: auto;
}

.editor-main-inner {
    margin-top: 32px;
}

.add-layout {
    margin: 0 40px;
    padding-top: 20px;
    height: 0;
    border-bottom: 4px solid $gray;

    text-align: center;

    &:hover {
        border-color: darken($gray, 30%);
        .plus {
            color: darken($gray, 30%);
        }
    }

    .plus {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: -22px;

        font-size: 50px;
        line-height: 1;

        color: #A5A5A5;
        text-shadow: 5px  0px 0 white,
                    -5px  0px 0 white,
                     5px  5px 0 white,
                    -5px  5px 0 white,
                     5px -5px 0 white,
                    -5px -5px 0 white;

        cursor: pointer;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;

        &:hover {
            text-decoration: none;
        }
    }

    .layout-list {
        > a {
            display: inline-block;
            margin: 0 5px;

            &:hover {
                outline: 1px solid $gray;
            }
        }
    }
}