$action-height: 48px;

body {
    overflow-y: hidden;
}

#editor-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#editor-actions {

}

#preview {
    outline: 1px solid #C5C5C5;
    background: white;

    .editor-main-inner {
        padding-bottom: $action-height;
    }
}

#editor-actions {
    height: $action-height;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 8px 12px;
    background: #F8F8F8;
}

.editor-main {
    width: 50%;
    height: 100%;
    float: left;
    overflow-y: auto;
}

.editor-main-inner {
    margin-top: 32px;
}