// Put quick fixes / try-outs / dirty stuff here
// ...and feel ashamed!


.nav-header {
    font-weight: bold;
}

.btn-group > .btn:last-child:not(:first-child) .btn-label, .btn-group > .dropdown-toggle:not(:first-child) .btn-label {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}